* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
/* header wrapper */
#header-wrapper {
    position: relative;
    width: 100%;
    border-bottom: solid medium #cccccc;
    background: #ffffff;

}
/* header banner */
.header {
    position: relative;
    width: 960px;
    /* width: 100%; */
    height: 100px;
    margin: 0 auto;
}

/* navigation menu */
#header-menu {
    position: absolute;
    right: 0;
    bottom: 10px;
    display: inline;
}

a {   
    text-decoration: none;
    list-style: none;  
}

a:hover {
    text-decoration: underline;
}

/* a:visited {
    color: #777777;
} */

li {
    display: inline-block;
    padding: 15px;
    border-right: solid #dddddd;
}

#menu-contact {
    border: none;
}

ul {
    text-align: center;
}

/* Name block within the header */
#name {
    position: absolute; 
    /* left: 145px; */
    bottom: 0;  
    padding: 30px; 
    /* width: fit-content;
    height: fit-content; */
    background: #4aaaa5;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#wrapper {   
    position: absolute;
    background: url(../images/Background_Swirls.png);
    background-repeat: repeat;
    /* width: 960px; */
    width: 100%;
    height: 100%;
    overflow: auto;
}

#profile-photo {
    float: left;
    margin-right: 15px;
}

/* clear float element */
.clear-float {
    clear: both;
}

/* main content block */
.content {
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    padding: 30px;
    background: #ffffff;
    width: 900px;
    /* height: fit-content; */
    min-height: 500px;
    text-align: left;
    border: #dddddd;
}

/* horizontal line element */
.hr {
    width: 900px;
    float: left;
}

/* footer element */
#footer {
    position: fixed;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    /* width: 960px; */
    width: 100%;
    height: 45px;
    bottom: 0;   
    text-align: center;

}

#footer-text {
    position: absolute;
    left: auto;
    bottom: 0;
    vertical-align: middle;
    display: inline-block;
    color: #ffffff;
    font-size: small;
}

.folio-photo {
    position: relative;
    float: left;
    margin: 20px;
}

.folio-banner {
    position: absolute;
    background: #4aaaa5;
    text-align: center;
    color: #ffffff;
    bottom: 10px;
    width: 150px;
    padding: 15px;
}

/* Contact Form  */
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
/* submit button */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    bottom: 10px;
  }

  input[type=submit]:hover {
      background: darkslategrey;
  }