#header {
    position: relative;
    background: yellow;
    width: 960px;
    height: 100px;
}

#header-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline;
    background: red; 
}
a {
    text-decoration: none;
    list-style: none;
    border-right: #cccccc;   
}

li {
    display: inline-block;
    padding: 15px;
}

ul {
    text-align: center;
}


#name {
    position: absolute; 
    left: 145px;
    bottom: 0;  
    padding: 20px; 
    width: fit-content;
    height: fit-content;
    background: blue;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#wrapper {   
    position: absolute;
    background: purple;
    width: 960px;
    height: 100%;
    text-align: left;
}

#content {
    position: absolute;
    margin-top: 35px;
    margin-left: 145px;
    padding: 35px;
    background: dodgerblue;
    width: fit-content;
    height: fit-content;
}

.hr {
    width: 600px;
}

#footer {
    position: fixed;
    background: #666666;
    width: 960px;
    height: 100px;
    bottom: 0;
}